.container.fixed-bottom.mb-5
  .mw-460.mx-auto
    = link_to _('Skip Trial (Continue with Free Account)'), dashboard_projects_path, class: 'block center py-2'
    .label
      = _("You won't get a free trial right now but you can always resume this process by clicking on your avatar and choosing 'Start a free trial'.")
